<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.css" rel='stylesheet'>
    <script src="https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.js"></script>
    <title>選課模擬 | Taiwan Tech</title>
    <style>
        body {
            background-color: #f0f0f0;
        }

        .main.container {
            margin: 3em;
        }

        td {
            height: 4em;
        }

        .course.block {
            z-index: 998;
            border-radius: 3px;
            box-shadow: 0px 0px 5px #909090;
            padding: 3px;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="ts top attached large menu">
        <div class="ts container">
            <a class="header item">CrossUNlink</a>
            <a class="item">關於</a>
            <div class="right menu">
                {% if request.user.is_authenticated %}
                <a class="item">嗨，{{request.user.first_name}} (ˊ・ω・ˋ)</a>
                {% else %}
                <a class="item" href="/accounts/facebook/login">
                    <i class="facebook icon"></i>
                    使用 Facebook 登入
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="ts main container">
        {% if request.user.is_authenticated %}
        <div class="ts stackable grid">
            <!-- left -->
            <div class="five wide column">
                <div class="ts card">
                    <div class="ts fluid top attached buttons">
                        <div class="ts primary button" id="view-selected">
                            <i class="check icon"></i>
                            已選課程
                        </div>
                        <div class="ts positive button" id="view-favorite">
                            <i class="heart icon"></i>
                            收藏課程
                        </div>
                    </div>
                    <div class="content">
                        <div class="ts form">
                            <div class="field">
                                <div class="ts grid">
                                    <div class="row">
                                        <div class="stretched column">
                                            <input type="text" id="search-text" placeholder="搜尋">
                                        </div>
                                        <div class="three wide column">
                                            <button class="ts icon button" id="search-btn">
                                                <i class="icon search"></i>
                                            </button>
                                        </div>
                                        <div class="five wide column">
                                            <div class="ts checkbox">
                                                <input id="agree" type="checkbox">
                                                <label for="agree">進階搜尋</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- result -->
                        <div class="ts flatted segment" style="height: 500px; overflow: scroll;">
                            <div class="ts small divided single line selection items" id="search-result">

                            </div>
                        </div>
                        <!-- /result -->
                    </div>
                </div>
            </div>
            <!-- /left -->

            <!-- right -->
            <div class="eleven wide column">
                <table class="ts large definition fixed compact table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Sun</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k,v in TIMES.items %}
                        <tr>
                            <td class="collapsing" style="font-size:12px">{{v}}</td>
                            {% for w in DAYS %}
                            <td id="{{w}}{{k}}"></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <!-- /right -->
        </div>
        {% else %}
        <div class="ts massive slate">
            <span class="header">先登入再說</span>
            <span class="description">恩對，就右上角那邊按一下。</span>
        </div>
        {% endif %}
    </div>

    <div class="ts snackbar">
        <div class="content"></div>
        <a class="action"></a>
    </div>

    <script>
        // initial selected courses
        {% if request.user.is_authenticated %}
        let nowSelected = [
            {% for c in selectedCourses %}
            {
                id: "{{c.course.id}}",
                course_id: "{{c.course.course_id}}",
                name: "{{c.course.name}}",
                periods: {{ c.course.periods | safe }},
                credit: {{ c.course.credit }},
                lecturer: "{{c.course.lecturer}}",
                required_subject: "{{c.course.required_subject}}" === "True"
            },
            {% endfor %}
        ];

        for (c in nowSelected) {
            let all_time = nowSelected[c].periods;
            for (t in all_time) {
                let course_block = document.createElement('div');
                course_block.setAttribute("class", "course block");
                course_block.dataset.courseno = nowSelected[c].id;
                course_block.innerHTML = `${nowSelected[c].name}`;
                document.getElementById(all_time[t].day_code).appendChild(course_block);
            }
        }
        {% endif %}

        // Search
        document.getElementById("search-btn").addEventListener('click', function () {
            document.getElementById("search-result").innerHTML = "";
            fetch('api/search?keyword=' + document.getElementById("search-text").value + '&semester=1071')
                .then((resp) => {
                    return resp.json();
                })
                .then((json) => {
                    for (let i in json) {
                        // console.log(json[i])
                        arr = [];
                        times = JSON.parse(json[i].fields.periods);
                        for (let x in times) arr.push(times[x].day_code);
                        times = arr.join();
                        html = `
                        <div class="item" data-courseno="${json[i].pk}" data-time="${times}">
                            <div class="content">
                                <div class="header">${json[i].fields.name}</div>
                                <div class="meta">
                                    <div>
                                        <span id="course-lecturer">${json[i].fields.lecturer}</span>|
                                        <span id="course-required">${json[i].fields.required_subject ? "必修" : "選修"}</span>|
                                        <span>
                                            <i class="graduation cap icon"></i>
                                            <span id="course-credit">${json[i].fields.credit}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <div class="ts separated buttons">
                                    <button class="ts icon small button" >
                                        <i class="heart icon"></i>
                                    </button>
                                    <button class="ts icon small button" id="add-course" onclick="addCourse(this)">
                                        <i class="add icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        `;

                        var tmp = document.createElement('div');
                        tmp.innerHTML = html.trim();
                        document.getElementById("search-result").appendChild(tmp.firstChild);
                    }
                });
        });

        // View selected courses
        document.getElementById("view-selected").addEventListener('click', function () {
            document.getElementById("search-result").innerHTML = "";
            for (let i in nowSelected) {
                // console.log(json[i])
                arr = [];
                times = nowSelected[i].periods;
                for (let x in times) arr.push(times[x].day_code);
                times = arr.join();
                html = `
                <div class="item" data-courseno="${nowSelected[i].id}" data-time="${times}">
                    <div class="content">
                        <div class="header">${nowSelected[i].name}</div>
                        <div class="meta">
                            <div>
                                <span id="course-lecturer">${nowSelected[i].lecturer}</span>|
                                <span id="course-required">${nowSelected[i].required_subject ? "必修" : "選修"}</span>|
                                <span>
                                    <i class="graduation cap icon"></i>
                                    <span id="course-credit">${nowSelected[i].credit}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ts separated buttons">
                            <button class="ts icon small button" >
                                    <i class="heart icon"></i>
                            </button>
                            <button class="ts icon negative button" id="del-course" onclick="delCourse(this)">
                                <i class="remove icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
                `;

                var tmp = document.createElement('div');
                tmp.innerHTML = html.trim();
                document.getElementById("search-result").appendChild(tmp.firstChild);
            }
        });


        // select course
        function addCourse(notThisOWO) {
            let course_node = notThisOWO.parentNode.parentNode.parentNode;
            let all_time = course_node.dataset.time.split(",");
            // console.log(course_node);
            for (t in all_time) {
                if (document.getElementById(all_time[t]).innerText != "") {
                    ts('.snackbar').snackbar({
                        content: all_time[t] + "那邊衝堂了Q_Q",
                        action: '好ㄉ',
                        actionEmphasis: 'negative'
                    });
                    return;
                }
            }
            for (t in all_time) {
                let course_block = document.createElement('div');
                course_block.setAttribute("class", "course block");
                course_block.dataset.courseno = course_node.dataset.courseno;
                course_block.innerHTML = `${course_node.childNodes[1].childNodes[1].innerHTML}`;
                document.getElementById(all_time[t]).appendChild(course_block);
            }
            fetch('api/add?courseno=' + course_node.dataset.courseno, { credentials: "same-origin" })
                .then((resp) => {
                    return resp.json();
                })
                .then((json) => {
                    ts('.snackbar').snackbar({
                        content: '課程成功新增',
                        action: '好ㄉ',
                        actionEmphasis: 'negative'
                    });
                    let obj = json[0];
                    nowSelected.push({
                        id: obj.pk,
                        course_id: obj.fields.course_id,
                        name: obj.fields.name,
                        periods: JSON.parse(obj.fields.periods),
                        credit:  obj.fields.credit,
                        lecturer: obj.fields.lecturer,
                        required_subject: obj.fields.required_subject
                    })
                });
        }


        // del course
        function delCourse(notThisOWO) {
            let course_node = notThisOWO.parentNode.parentNode.parentNode;
            let all_time = course_node.dataset.time.split(",");
            fetch('api/del?courseno=' + course_node.dataset.courseno, { credentials: "same-origin" })
                .then((resp) => {
                    return resp.json();
                })
                .then((json) => {
                    console.log(all_time)
                    for (t in all_time) {
                        document.getElementById(all_time[t]).innerHTML = "";
                    }
                    ts('.snackbar').snackbar({
                        content: '課程成功刪除',
                        action: '好ㄉ',
                        actionEmphasis: 'negative'
                    });
                    for(i in nowSelected){
                        if(nowSelected[i].id === course_node.dataset.courseno){
                            console.log(nowSelected)
                            delete nowSelected[i];
                            console.log(nowSelected)
                            break;
                        }
                    }
                    course_node.outerHTML=""
                });
        }
    </script>
</body>

</html>